<table class="table table-bordered">
    <tr>
        {% for cell in head %}
            <th>{{ cell }}</th>
        {% endfor %}
    </tr>
    {% for row in rows %}
        <tr>
            {%  for cell in row %}
                <td>
                {% if cell.link %}
                    {% if cell.comment  %}
                         <a href="{{ cell.link }}">{{ cell.comment }}</a>
                    {% else %}
                        <ul>
                        {% for linkItem in cell.link %}
                            <li> <a href="{{ linkItem.link }}">{{ linkItem.comment }}</a> </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% elseif cell.img %}
                        <div class="form-group">
                            <img  width="200" height="200" src="{{ cell.img }}" alt="">
                        </div>
                {% else %}
                   {{ cell }}
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>